<link rel="stylesheet" href="/css/_footer.css">
<footer>
    <div id="lastVisit">
        <% if(locals.userName){ %>
        Last Visited On - <%=locals.lastVisit%>
        <%}%>
    </div>
    <div>
        Guest Account : Email - abc@gmail.com, Password - abc
    </div>
</footer>