

#post-job-form{
    width: 43%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid brown;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: antiquewhite;
}

#post-job-form h1{
    color: Brown;
}

#post-job-form .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#post-job-form .row button{
    margin: auto;
    background-color: rgb(255, 152, 17);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
}



#post-job-form input,#post-job-form select{
    border: 1px solid brown;
    border-radius: 5px;
    font-size: 14px;
    width: 300px;
    height:60px;
    margin: 0px;
    background-color: rgb(250, 247, 244);
    padding: 4px;
}

.alert{
    background-color: red;
    color: white;
    font-size: 1.5rem;
    width: 300px;
    margin: auto;
    border-radius:10px ;
}

#post-job-form .row .salary input{
    width: 115px;
    height:40px;
    margin: 0;
}



